.nav {
  grid-area: n;
  background-color: rgba(14, 65, 142, 0.925);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}

.item a {
  color: white;
  text-decoration: none;
  line-height: 1.5em;
}

.item a.active {
  color: gold;
}

li {
  list-style-type: none;
}
